/*背景颜色设置为红色*/
body{
   background-image: url("huaji.jpg");
    background-size: 200px 200px;
    background-origin:border-box;
    background-repeat: repeat-y;
    background-position: center top;
    background-attachment: fixed;
}
body{
    width: 150px;
    padding: 10px;
    background-color: gainsboro;


}

p{
    color:aqua
}