ul.circle {
    list-style-type: circle
}

ul.square {
    list-style-type: square
}

ol.upper-roman {
    list-style-type: upper-roman
}

ol.lower-alpha {
    list-style-type: lower-alpha
}

body {
    color: blue;
    text-decoration: underline;
    letter-spacing: 1px;
    white-space: normal;
}

strong {
    color: purple;
}

h2 {
    color: red;
}

h2 strong {
    color: blue;
}
